@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Poppins:wght@300&family=Rethink+Sans&family=Roboto:wght@300&display=swap");
body {
  font-family: poppins, roboto;

  margin: 0;
  padding: 0;
}
/*background*/

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
body {
  background-image: url(../imgs/background.JPG);
  overflow: hidden;
  background-size: cover;
  background-position: center 30%;
  background-repeat: repeat;
  background-attachment: fixed;
}

/*img logo*/

.img-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 10px;
}

/* nav bar */
nav {
  color: rgb(255, 255, 255);
  align-items: center;
  padding: 30px;
  margin: 50px;
  width: 40%;
  position: fixed;
  top: 20px;
  right: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 4px solid #ffffff;
  border-radius: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 55px;
}

nav ul li a {
  font-size: larger;
  text-decoration: none;
  color: white;
  padding: 30px;
  border-radius: 10%;

  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(250, 235, 215, 0.349);
  border-radius: 10%;
}

.header-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10px;
  left: 5px;
  padding: 30px, 0, 0, 0;
}

/* hero image */

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  border: 4px solid #ffffff;
  border-radius: 10px;
}

/*footer*/
footer {
  background-color: rgba(250, 235, 215, 0.349);
  color: white;
  padding-top: 0px;

  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.social-footer {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}

.social-footer li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
}

/*footer social links*/
.social-footer li a {
  display: inline-block;
  font-size: 50px;
  color: white;
}

/*hero image */
.gallery-text a {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/* about me page */

/*contact form*/

.contact-form-message {
  position: relative;
  left: 25%;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgba(250, 235, 215, 0.205);
  width: 10%;
  left: 100px;
  margin-top: 300px;
  border-radius: 5%;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
}

.form label {
  display: block;
  margin-bottom: 8px;
  align-items: center;
  font-size: larger;
  font-weight: 300;
}

.form input {
}

.message {
  position: absolute;
  right: 50%;
  bottom: 40%;
  background-color: rgba(250, 235, 215, 0.205);
  border-radius: 5%;
  font-size: 40px;
  padding: 10px;
  color: #ffffff;
}
