@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Poppins:wght@300&family=Rethink+Sans&family=Roboto:wght@300&display=swap");

.container {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  font-family: "Poppins", "roboto";
  background-image: url(../imgs/background.JPG);
  overflow-x: hidden;
  background-size: cover;
  background-position: center 30%;
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

/*header*/
.header {
  text-decoration: none;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  color: #ffffff;
}

/* nav bar */
nav {
  background-color: rgba(26, 24, 21, 0.733);
  color: rgb(255, 255, 255);
  padding: 1px;
  position: relative;
  width: 100vw;
  top: -10px;
  margin: 10px auto;
  text-align: center;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
}
nav ul {
  list-style-type: none;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}
nav ul li {
  margin: 0;
}
nav ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
nav ul li a:hover {
  background-color: rgba(250, 235, 215, 0.349);
}
.nav-container h1 {
  background-color: rgba(26, 24, 21, 0.733);
  color: white;
  padding: 10px;
  margin: 0;
  font-size: large;
}

/*footer*/
footer {
  background-color: rgb(26, 24, 21);
  color: white;
  height: 60px;
  position: fixed;
  bottom: 0vh;
  padding: 0;
  text-align: center;
  margin-top: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.social-footer {
  bottom: 0vh;
  padding: 0;
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  position: relative;
}
.social-footer ul {
  align-items: center;
}
.social-footer li {
  display: inline-block;
  justify-content: center;
}

/*footer social links*/
.social-footer li a {
  display: inline-block;
  font-size: 30px;
  color: white;
  justify-content: center;
  padding-left: 20px;
  position: relative;
  bottom: 15px;
}
.copyright {
  font-size: 10px;
  justify-content: center;
  position: relative;
  bottom: 50px;
}

/*intro page*/
.intro-img {
  width: 50%;
  margin: auto;
  overflow-x: hidden;
  position: relative;
  left: 25%;
  margin-top: 5px;
}

.intro-container {
  margin: auto;
  width: 70%;
  bottom: 50%;
  position: relative;
  justify-content: center;
  overflow-x: hidden;
  border-radius: 10px;
}

.intro-text {
  padding: 5px;
  color: #ffffff;
  background-color: rgba(26, 24, 21, 0.733);
}

/* packages page */
.packages-text {
  position: relative;
  overflow-x: hidden;
  left: 25%;
  top: 15%;
  margin: 0;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;
  font-size: small;
  background-color: rgba(26, 24, 21, 0.733);
  color: #ffffff;
  text-transform: uppercase;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
}
.row {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
  left: 25%;
  text-align: center;
  height: 60%;
  margin-top: 5%;
  column-gap: 5px;
}
.column {
  color: #ffffff;
  background-color: rgba(26, 24, 21, 0.733);
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  margin-bottom: 100px;
  color: #ffffff;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
}

/*contact form*/
.contact-column {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 10%;
  position: relative;
  align-items: center;
  background-color: rgba(26, 24, 21, 0.733);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.form {
  align-items: center;
  width: 100%;
}
/*form input size figured out here https://www.quora.com/How-do-you-make-the-input-box-bigger-in-HTML*/
.input {
  width: 100%;
}
.send-button {
  font-family: "Poppins";
  border-radius: 10px;
}

.map-text {
  background-color: rgba(26, 24, 21, 0.733);
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  align-items: center;
  text-align: center;
  margin: 0% 10% 30% 10%;
  letter-spacing: 1px;
}
.map-text a {
  text-decoration: none;
  color: #ffffff;
}
/*transition time hover reminded from this website https://css-tricks.com/almanac/properties/t/transition*/
.map-text a:hover {
  background-color: rgba(250, 235, 215, 0.349);
  transition: background-color 0.5s ease;
}

/*gallery*/
.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10%;
  background-color: rgba(26, 24, 21, 0.733);
  padding: 10px;
  overflow-x: hidden;
  color: #ffffff;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
}
.gallery-container img {
  width: 500px;
  overflow-x: hidden;
  margin: auto;
}
.gallery-text-scroll {
  position: relative;
  justify-content: center;
  left: 50%;
  transform: translatex(-50%);
  top: 23px;
  margin: 0;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;
  font-size: larger;
  background-color: rgba(26, 24, 21, 0.733);
  color: #ffffff;
  text-transform: uppercase;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
}

.equip-list h4 {
  text-align: center;
  justify-content: center;
}
.equip-list {
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  justify-content: center;
  margin-bottom: 20%;
  background-color: rgba(26, 24, 21, 0.733);
  color: #ffffff;
  text-transform: uppercase;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  overflow-x: hidden;
  width: 90%;
}
.equip-list ul li {
  list-style-type: none;
  text-align: center;
}

/*mobile devices*/
@media (max-width: 650px) {
  .gallery-container img {
    width: 250px;
    overflow-x: hidden;
    margin: auto;
  }

  /*contact page*/
  .map {
    display: none;
  }
}

@media (max-width: 450px) {
  .contact-column {
    align-items: first baseline;
  }
}

/*tablets*/
@media (max-width: 1171px) {
  /*hero/ intro text*/
  .hero-text {
    background-color: rgba(26, 24, 21, 0.733);
    color: #ffffff;
    border-style: solid;
    margin: 0;
    padding: 5px;
    text-align: center;
    overflow-x: hidden;
  }

  .customer-reviews {
    background-color: rgba(26, 24, 21, 0.733);
    position: relative;
    margin: 5%;
    margin-bottom: 30%;
    height: 60%;
    bottom: 50%;
    padding: 5px;
    font-size: small;
    color: #ffffff;
    border-radius: 10px;
    overflow-y: hidden;
    text-align: center;
  }

  .customer-reviews h4 {
    text-decoration: underline;
  }
}

/* media queries desktop */
@media (min-width: 1172px) {
  /*body desktop*/
  body {
    overflow-y: scroll;
  }

  /*index page*/
  .hero-text {
    position: relative;
    text-align: center;
    background-color: rgba(26, 24, 21, 0.733);
    color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
  }

  .intro-img {
    left: 5%;
    width: 30%;
    margin: 10px;
    bottom: 0px;
    border-radius: 10px;
  }

  .intro-container {
    margin: auto;
    width: 40%;
    bottom: 10px;
    position: relative;
    right: 25%;
    justify-content: center;
    overflow-x: hidden;
  }

  .intro-text {
    color: #ffffff;
    background-color: rgba(26, 24, 21, 0.733);
    font-size: 20px;
  }

  .customer-reviews {
    background-color: rgba(26, 24, 21, 0.733);
    position: absolute;
    left: 50%;
    width: 500px;
    top: 220px;
    padding: 10px;
    font-size: larger;
    color: #ffffff;
    border-radius: 10px;
    z-index: 99;
    text-align: center;
  }

  .customer-reviews h4 {
    text-decoration: underline;
  }

  /*gallery*/
  div.scroll-container {
    background-color: rgba(26, 24, 21, 0.733);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 40%;
    margin: 0;
    border-radius: 10px;
    align-content: center;
  }

  /*contact form*/
  .contact-column {
    left: 30%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin: 10%;
    position: relative;
    align-items: center;
    background-color: rgba(26, 24, 21, 0.733);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
  }

  .form {
    text-align: center;
    align-content: center;
    width: 100%;
  }

  /*form input size figured out here https://www.quora.com/How-do-you-make-the-input-box-bigger-in-HTML*/
  .input {
    width: 100%;
  }

  label {
    font-size: larger;
  }

  .map-text {
    background-color: rgba(26, 24, 21, 0.733);
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    align-items: center;
    text-align: center;
    margin: auto;
    letter-spacing: 1px;
    width: 20%;
    left: 25%;
    bottom: 500px;
  }

  /*packages page*/
  .packages-text {
    position: relative;
    left: 25%;
    top: 15%;
    margin: 0;
    width: 50%;
    text-align: center;
    letter-spacing: 2px;
    font-size: medium;
    background-color: rgba(26, 24, 21, 0.733);
    color: #ffffff;
    text-transform: uppercase;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
  }
}
